{% extends 'base.html' %}
{% block content %}
  <h1>Import ISO 16757</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label for="id_csv_file">CSV file</label>
      <input type="file" name="csv_file" id="id_csv_file" accept=".csv" />
    </div>
    <div>
      <label for="id_dictionary">Dictionary</label>
      <select name="dictionary_id" id="id_dictionary">
        {% for d in dictionaries %}
          <option value="{{ d.pk }}">{{ d.name }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <button type="submit">Import</button>
    </div>
  </form>
{% endblock %}
