{% extends "admin/base_site.html" %}
{% load static i18n %}
{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block content %}
  <div class="app-upload-library module">
    <h1>{{ title }}</h1>
    <form method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      <table>
      {{ form.as_table }}
      </table>
      <div style="margin-top:1rem;">
        <input type="submit" value="Upload" class="default">
        <a href="{% url 'admin:properties_externallibrary_changelist' %}">Back to libraries</a>
      </div>
    </form>
  </div>
{% endblock %}